[Unit]
Description=My Discoball Service
After=network-online.target syslog.target multi-user.target

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/python3 discoball.py
WorkingDirectory=/home/pi/DiscoballTime/service
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Type=idle

[Install]
WantedBy=multi-user.target